@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
  box-sizing: border-box;
  margin:0;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  font-size: 1em;
}
html,body{
  height:100vh;
  width:100vw;
  position:relative;
}
header{
  width:80vw;
  font-size: 1.6em;
}
header img{
  height:60px;
}
a:visited,a:hover,a:focus,a{
  color:#00C1E0;
}
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  font-size:1em;
}
select:focus {
  border: 2px solid #00C1E0;
  outline: 0;
}
.svgContain{
  position:relative;
  width:80vw;
  height:75vh;
}
.tooltip{
  height:auto;
  width:auto;
  border-radius: 5px;
  background-color: white;
  position:absolute;
  border: 1px solid black;
  display: none;
  padding:5px;
  text-align: center;
}
.stat{
  text-align: left;
  font-size: 0.8em;
}
.xaxis path, .xaxis line,.yaxis path, .yaxis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
footer{
  text-align:center;
  padding:10px;
  height:5vh;
  width:80vw;
}
footer img{
  height:40px;
  vertical-align: middle;
}
@media (max-width:760px){
  .xaxis .tick:nth-child(even) text{
    display:none;
  }
}
@media (max-width:500px){
  .xaxis .tick text{
    display:none;
  }
  .xaxis .tick:nth-child(4n+1) text{
    display:block;
  }
}
